.btn_bt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button {
  margin: 4px;
  border: none;
  background: none;
}


.special-btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  color: #f3f9f2;
  font-size: 15px;
  background-color: #2a8dce;
}
.special-btn :hover{
    background-color: #f3f9f2;
    color: #2a8dce;
}